install library

In [2]:
pip install nltk pandas

Requirement already satisfied: nltk in /usr/local/lib/python3.11/dist-packages (3.9.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.11/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.11/dist-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from nltk) (4.67.1)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

###load the dataset

In [3]:
import pandas as pd
a=pd.read_csv("Articles.csv", encoding='latin-1')
print(a.head())

                                             Article      Date  \
0  KARACHI: The Sindh government has decided to b...  1/1/2015
1  HONG KONG: Asian markets started 2015 on an up...  1/2/2015
2  HONG KONG:  Hong Kong shares opened 0.66 perce...  1/5/2015
3  HONG KONG: Asian markets tumbled Tuesday follo...  1/6/2015
4  NEW YORK: US oil prices Monday slipped below $...  1/6/2015

                                             Heading  NewsType
0  sindh govt decides to cut public transport far...  business
1                    asia stocks up in new year trad  business
2           hong kong stocks open 0.66 percent lower  business
3             asian stocks sink euro near nine year   business
4                 us oil prices slip below 50 a barr  business

In [4]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [5]:
s=SentimentIntensityAnalyzer()

In [6]:
def sentiment(t):
  if pd.isna(t):
     return 'neutral'
  else:
     sentiment=s.polarity_scores(t)
     if sentiment["compound"]>=0.05:
      return 'Positive'
     elif sentiment['compound']<=-0.05:
      return 'Negative'
     else:
      return 'Neutral'

In [7]:
#applying sentiment to the dataset
a['Sentiment']=a['Article'].apply(sentiment)

In [8]:
a

,Article,Date,Heading,NewsType,Sentiment
0,KARACHI: The Sindh government has decided to b...,1/1/2015,sindh govt decides to cut public transport far...,business,Negative
1,HONG KONG: Asian markets started 2015 on an up...,1/2/2015,asia stocks up in new year trad,business,Positive
2,HONG KONG: Hong Kong shares opened 0.66 perce...,1/5/2015,hong kong stocks open 0.66 percent lower,business,Neutral
3,HONG KONG: Asian markets tumbled Tuesday follo...,1/6/2015,asian stocks sink euro near nine year,business,Negative
4,NEW YORK: US oil prices Monday slipped below $...,1/6/2015,us oil prices slip below 50 a barr,business,Negative
...,...,...,...,...,...
2687,strong>DUBAI: Dubai International Airport and ...,3/25/2017,Laptop ban hits Dubai for 11m weekend traveller,business,Positive
2688,"strong>BEIJING: Former Prime Minister, Shaukat...",3/26/2017,Pak China relations not against any third coun...,business,Positive
2689,strong>WASHINGTON: Uber has grounded its fleet...,3/26/2017,Uber grounds self driving cars after accid,business,Negative
2690,strong>BEIJING: The New Development Bank plans...,3/27/2017,New Development Bank plans joint investments i...,business,Positive
2691,strong>KARACHI: Karachi-based technology incub...,3/27/2017,Google powered Startup Weekend energizing prou...,business,Positive

### by beautifulsoup

install lib

In [9]:
pip install nltk requests beautifulsoup4

Requirement already satisfied: nltk in /usr/local/lib/python3.11/dist-packages (3.9.1)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.12.3)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in /usr/local/lib/python3.11/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.11/dist-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.11/dist-packages (from nltk) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2024.12.14)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.6)

In [10]:
import requests
from bs4 import BeautifulSoup
from nltk.tokenize import sent_tokenize
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [11]:
url="https://indianexpress.com/"

In [12]:
res=requests.get(url)

In [13]:
par=BeautifulSoup(res.text,"html.parser")

In [14]:
paragraph=par.find_all('p')
text="".join([p.get_text() for p in paragraph])

In [15]:
sentences = sent_tokenize(text)

In [16]:
for sentence in sentences:
    sent=s.polarity_scores(text)

In [21]:
print("Sentence:" ,sentence)
print("Result:")
print("Positive: ,",sent['pos'])
print("Neutral:",sent['neu'])
print("Negative:",sent['neg'])
print("Overall Sentiment Score:",sent['compound'])

Sentence: The overwhelmed administration struggled to manage the situation, leaving many feeling abandoned and hopeless.
Result:
Positive: , 0.065
Neutral: 0.837
Negative: 0.098
Overall Sentiment Score: -0.9442

In [20]:
if sent['compound'] >= 0.05:
    print("Overall: Positive")
elif sent['compound'] <= -0.05:
    print("Overall: Negative")
else:
    print("Overall: Neutral")

Overall: Negative