In [2]:
class p1:
  x=5

In [ ]:
class p1:
  x=5
a1=p1()
print(a1.x)

5

In [1]:
class per:
  def __init__(self,name,age):
    self.name=name
    self.age=age

In [3]:
#init function
p1=per('abc',32)
print(p1.name)
print(p1.age)

abc
32

In [6]:
#__str__() function
class per:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def __str__(self):
    return f"{self.name}({self.age})"
p1=per('pqr',45)
print(p1)

pqr(45)

In [8]:
#object methods
class person:
  def __init__(self,name,age):
   self.name=name
   self.age=age
  def function(self):
    print('my name is'+ self.name)
p1=person('abc',12)
p1.function()

my name isabc

In [10]:
#self parameter
class per:
  def __init__(my,name,age):
    my.name=name
    my.age=age
  def fun1(abc):
    print('my name is'+abc.name)
p1=per('abc',34)
p1.fun1()

my name isabc

In [ ]:
#modify object parameter
class per:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def fun1(self):
    print('my name is'+ self.name)
p1=per('abc',67)
p1.age=40
print(p1.age)

40

In [ ]:
#delete object.          it will give error
class per:
  def __init__(my,name,age):
    my.name=name
    my.age=age
  def fun1(my):
    print('my name is'+my.name)
p1=per('abc',23)
del p1
print(p1)

NameError: name 'p1' is not defined

In [ ]:
#pass statement
class per:
  pass