syntax:
lambda arguments : expression

In [ ]:
x= lambda a:a+10
print(x(5))

15

In [ ]:
x=lambda a,b:a*b
print(x(3,4))

12

In [ ]:
x= lambda a,b,c:a+b+c
print(x(4,5,6))

15

In [ ]:
def fun1(n):
    return lambda a:a*n
double=fun1(2)
print(double(22))

44

In [ ]:
def fun1(n):
    return lambda a:a*n
double=fun1(2)
triple=fun1(3)

print(double(11))
print(triple(22))

22
66