In [2]:
set1={'apple','banana','kiwi','mango'}
print(set1)

{'kiwi', 'mango', 'apple', 'banana'}

In [ ]:
set1={'apple','banana','kiwi','mango','apple','banana','kiwi','mango'}
print(set1)

{'banana', 'mango', 'kiwi', 'apple'}

In [ ]:
set1={'apple','banana','kiwi','mango',True,1,2,5}
print(set1)

{True, 2, 'mango', 5, 'kiwi', 'apple', 'banana'}

In [3]:
print(len(set1))

4

In [ ]:
set1={'apple','kiwi','mango',True,5}
print(set1)

{True, 'mango', 5, 'kiwi', 'apple'}

In [4]:
print(type(set1))

<class 'set'>

In [ ]:
set1=set(('how','are','you'))
print(set1)

{'are', 'how', 'you'}

access set items

In [5]:
for x in set1:
  print(set1)

{'kiwi', 'mango', 'apple', 'banana'}
{'kiwi', 'mango', 'apple', 'banana'}
{'kiwi', 'mango', 'apple', 'banana'}
{'kiwi', 'mango', 'apple', 'banana'}

In [6]:
print('apple'in set1)

True

In [7]:
print('apple'not in set1)

False

add set items

In [8]:
set1.add('orange')
print(set1)

{'apple', 'mango', 'orange', 'kiwi', 'banana'}

In [9]:
set2={'pineapple','strawberry'}
set1.update(set2)
print(set1)

{'strawberry', 'apple', 'pineapple', 'mango', 'orange', 'kiwi', 'banana'}

In [10]:
list=['pineapple','strawberry']
set1.update(list)
print(set1)

{'strawberry', 'apple', 'pineapple', 'mango', 'orange', 'kiwi', 'banana'}

remove set items

In [11]:
set1.remove('kiwi')
print(set1)

{'strawberry', 'apple', 'pineapple', 'mango', 'orange', 'banana'}

In [12]:
set1.discard('kiwi')
print(set1)

{'strawberry', 'apple', 'pineapple', 'mango', 'orange', 'banana'}

In [13]:
x=set1.pop()
print(x)
print(set1)

strawberry
{'apple', 'pineapple', 'mango', 'orange', 'banana'}

In [14]:
set1.clear()
print(set1)

set()

In [15]:
#this will give error
del set1
print(set1)

NameError: name 'set1' is not defined

loop set

In [17]:
set1={'apple','banana','kiwi','mango'}
for x in set1:
  print(x)

kiwi
mango
apple
banana

join set

In [19]:
set2={2,5,3,4}
set3=set1.union(set2)
print(set3)

#or
set2={2,5,3,4}
set3=set1|(set2)
print(set3)

{2, 3, 4, 5, 'mango', 'apple', 'kiwi'}
{2, 3, 4, 5, 'mango', 'apple', 'kiwi'}

In [20]:
#join multiple set
set2={5,4,6,8,4}
set3={True,False}
set4=set1.union(set2,set3)
print(set4)

#or
set2={5,4,6,8,4}
set3={True,False}
set4=set1|set2|set3
print(set4)

{False, 'kiwi', True, 4, 5, 6, 8, 'mango', 'apple'}
{False, 'kiwi', True, 4, 5, 6, 8, 'mango', 'apple'}

In [ ]:
#join set and tuple

In [21]:
tup2=(5,4,6,8,4)
x=set1.union(tup2)
print(x)

{4, 5, 6, 8, 'apple', 'mango', 'kiwi'}

In [22]:
set2={5,4,6,8,4}
set1.update(set2)
print(set1)

{4, 5, 'mango', 6, 8, 'apple', 'kiwi'}

In [23]:
set2={5,4,6,8,4}
set3=set1.intersection(set2)
print(set3)

#or
set2={5,4,6,8,4}
set3=set1&(set2)
print(set3)

{8, 4, 5, 6}
{8, 4, 5, 6}

In [24]:
set2={5,4,6,8,4,'apple'}
set1.intersection_update(set2)
print(set1)

{4, 5, 6, 8, 'apple'}

In [25]:
set2={5,4,6,8,4,'apple'}
set3=set1.difference(set2)
print(set3)

#or
set1={'apple','mango','kiwi'}
set2={5,4,6,8,4,'apple'}
set3=set1-set2
print(set3)

set()
{'kiwi', 'mango'}

In [26]:
set2={5,4,6,8,4,'apple'}
set1.difference_update(set2)
print(set1)

{'kiwi', 'mango'}

In [27]:
set2={5,4,6,8,4,'apple'}
set3=set1.symmetric_difference(set2)
print(set3)

#or
set1={'apple','mango','kiwi'}
set2={5,4,6,8,4,'apple'}
set3=set1^set2
print(set3)

{'kiwi', 4, 5, 6, 'mango', 8, 'apple'}
{'kiwi', 4, 5, 6, 'mango', 8}

set methods

In [28]:
x=set1.copy()
print(x)

{'kiwi', 'apple', 'mango'}

In [29]:
set2={5,4,6,8,4,'apple'}
set3=set1.isdisjoint(set2)
print(set3)

False

In [30]:
set2={5,4,6,8,4,'apple'}
set3=set1.issubset(set2)
print(set3)

False

In [31]:
set2={5,4,6,8,4,'apple'}
set3=set1.issuperset(set2)
print(set3)

#or
set2={5,4,6,8,4,'apple'}
set3=set1>=set2
print(set3)

False
False

In [32]:
set2={5,4,6,8,4,'apple'}
set1.update(set2)
print(set1)

#or
set2={5,4,6,8,4,'apple'}
set1|=set2
print(set1)

{4, 5, 6, 8, 'apple', 'mango', 'kiwi'}
{4, 5, 6, 8, 'apple', 'mango', 'kiwi'}

In [33]:
set2={5,4,6,8,4,'apple'}
set1.symmetric_difference_update(set2)
print(set1)

#or
set2={5,4,6,8,4,'apple'}
set1^=set2
print(set1)

{'mango', 'kiwi'}
{5, 4, 6, 8, 'apple', 'mango', 'kiwi'}